{
    "plugins": [
      [
        "babel-plugin-styled-components",
        {
            "displayName": true,
            "pure": true,
            "cssProp": true,
            "ssr": true
        }
      ]
    ],
    "presets": ["@babel/preset-typescript"]
  }